<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p> Estas buscando al jugador {{busqueda}}</p>

    {% for jugador in jugadores %}

        <ul>
            <li>Nombre: {{jugador.nombre}}</li>
            <li>Nacionalidad: {{jugador.nacionalidad}}</li>
            <li>Edad: {{jugador.edad}}</li>
            <li>Posicion: {{jugador.posicion}}</li>
            <li>Dorsal: {{jugador.dorsal}}</li>
            <li>Pierna Habil: {{jugador.piernaHabil}}</li>
    {% endfor %}



        </ul>




</body>
</html>